* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
header {
    border:solid #525252; 
    background-color: #525252;;
    height: 200px; 
}
.headertext {
    text-align: center;
    padding-top: 30px; 
    font-size: 30px;
}
nav {
    background-color: navy; 
    height: 40px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color:white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
body {
    border: solid black; 
    height: 1000px; 
    background-color: lightblue;
    color: black; 
    font-size: 18px;

}